@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto+Condensed:ital,wght@1,300&display=swap');
*{
box-sizing: border-box;
}
.bg-image{
    width: 100%;
    height: 100vh;
}
.layer {
    background: linear-gradient(#E9158E,#491563);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 70%;
}
.sec-2 {
    height: 100vh;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin-bottom: 18vh;
    /* text-align: center; */

}
.heading {
    font-size: 3em;
    color: #A313C2;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0.5em;
    margin-top: 4vh;
}
.intro{
    padding-left: 6vw;
    padding-right: 6vw;
    line-height: 3vw;
    letter-spacing: 0.0vmin;
    text-align: left;
    font-size: 2vw;

}
.vision{
    background-color: #F86FA3;
    display: inline-block;
width: 60vw;
    height: fit-content;
    margin-top: 6vh;
    margin-left: 15vw;
    color: white;
    border-radius: 1vw;
    padding: 5%;
}
.content{
 text-align: left;
width: 43vw;;
 height: fit-content;
 font-size: 1.5vw;
 font-weight: 600;
}
.image
{
    display: inline;
    position: relative;
    right: 10%;
    top: -19%;
    width: 23vw;
    height: 43%;
}
.layer-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: x-large;
    color: white;
}
.bttn
{
    color: white;
    cursor: pointer;
    width: 15vw;
    background-color: #A313C2;
    border: none;
    border-radius:0.6em;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-size: medium;

}
.sec-3{
    height: fit-content;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    background-color: #F7EFFF;
}
.details{
    text-align: center;
    padding: 8vh;
    font-size: 3vw;
    font-weight: bold;
    color: #E9158E;
}
.ro
{
display: flex;
justify-content: space-evenly;
margin-bottom: 5vh;

}
.co
{
    background-color: #c7b3d9;
    width: 45vw;
    height: 25vh;
    padding: 4px;
    text-align: center;
    border-radius: 14px
}

.log{
    float: left;
    width: 12vw;
        margin: 2vh;
}
.txt{
    font-size: 1.5vw;
    position: relative;
    font-weight: 600;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sec-4{
    height: fit-content;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    background-color: #FFE6F4;
}
.sec-5{
    height: 100vh;
    width: 100%;
background-color:#ECAAD0 ;
font-family: 'Montserrat', sans-serif;
   
}

/*--------------------------Mobile Design------------------------ */

@media only screen and (max-width:480px)

 {
    .main-page
    {
        width: 100%;
        height: 100vh;
    }
.layer-2 
{
    width: 100%;
} 
.bttn{
    position: absolute;
    bottom: -330%;
    left: 32%;
    width: 11em;
}
.vision{
position: relative;
left: 0.23%;
right: 0.47%;
top: 3.98%;
bottom: 60.97%;
width: 100%;
height: fit-content;
margin-left: 0;
text-align: center;
height: 23em;
}

.content{
       width: 35vmax;
    font-size: 13px;
    position: absolute;
    top: 34%;
}
.image
{
    display: block;
    width: 20em;
    position: relative;
    top: -52%;
    right: -15%;
    height: 13em;
}
.details
{
        font-size: 8vw;
        text-align: center;
}
.ro{
 flex-direction: column;
 align-items: center;
 margin-bottom: 0;
}

.co{
    margin-bottom: 3em;
}
.log{
        float: left;
    width: 9em;
}
.txt{
    font-size: 2vw;
}
}

@media only screen and (max-width:768px)
{
    .txt{
        font-size: 3vw;
    }
    .content{
        font-size: 3vw;
        padding: 1vw;
    }
    .image{
        height: 27%;
    }
}